<section>
    <div class="user_detail">
        <div class="content">
            <h2>{{greet}}, {{userDetail?.name | titlecase}}</h2>
            <p-avatar image="https://primefaces.org/cdn/primeng/images/demo/avatar/amyelsner.png" styleClass="mr-2"
                size="xlarge" shape="circle" (click)="onProfileClicked()" [style]="{'cursor': 'pointer'}"></p-avatar>
        </div>
        <div class="cards">
            <p-card header="Pionts Obtained" [style]="{'width': '25rem', 'margin-bottom': '2em'}">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error
                    repudiandae numquam deserunt</p>
            </p-card>
            <p-card></p-card>
            <p-card></p-card>
        </div>
    </div>
</section>

<p-sidebar [(visible)]="showSidebar" position="right" [baseZIndex]="10000">
    <div class="sidebar_container">
        <p-avatar image="https://primefaces.org/cdn/primeng/images/demo/avatar/amyelsner.png" styleClass="mr-2"
            size="xlarge" shape="circle"></p-avatar>
        <h3>{{userDetail?.name}}</h3>
        <div class="theme-switch">
            <i class="pi pi-sun" style="font-size: 1.5rem"></i>
            <p-inputSwitch (onChange)="onThemeChange($event)"></p-inputSwitch>
            <i class="pi pi-moon" style="font-size: 1.5rem"></i>
        </div>
    </div>
</p-sidebar>