<section>
  <div class="img" >
    <img src="/assets/gif/signup.gif" alt="Kongu Logo" width="400" height="400" class="logo" />
  </div>
  <div class="background">
    <h2>Please Sign up for your account !</h2>
    <p id="sign-up" class="sign-in">Already have an account ?<a routerLink="/login"> Sign In </a>.</p>
    <form [formGroup]="form">
      <div *ngFor="let item of signup">
        <div class="form-group" *ngIf="!item.isDropdown">
          <label [for]="item.label">{{ item.label }}</label>
          <input [type]="item.type" [id]="item.id" pInputText [placeholder]="item.placeholder"
            [formControlName]="item.id" />
        </div>
        <div *ngIf="item.isDropdown"> 
          <label [for]="item.label" style="display: block">
            {{item.label}}
          </label>
          <p-dropdown [options]="item.options" [formControlName]="item.id" [placeholder]="item.placeholder"
            [showClear]="true" styleClass="dropdown" autoWidth="false" [style]="{'width': '100%'}"></p-dropdown>
        </div>
      </div>
      <div class="profile" style="gap: 0.5rem;" class="flex align-items-center mt-2">
        <div>
          <p-fileUpload #fubauto mode="basic" name="demo" accept="image/*" [maxFileSize]="2000000" [customUpload]="true"
            (uploadHandler)="onUpload($event)" chooseLabel="Upload Profile Image" [auto]="true"
            class="mr-2"></p-fileUpload>
        </div>
        <img *ngIf="displayImage" [width]="60" [height]="60" [src]="displayImage" alt="" />
      </div>
    </form>
    <p-button label="Sign Up" icon="pi pi-sign-in" [loading]="loading" (click)="onSubmit()"
      [disabled]="form.invalid"></p-button>
  </div>
</section>