<section>
  <div class="background">
    <img
      src="/assets/img/logo-2.gif"
      alt="Kongu Logo"
      width="400"
      height="400"
    />
  </div>
  <div class="signup">
    <h2>Please Sign up for your account !</h2>
    <form [formGroup]="form">
      <div *ngFor="let item of signup">
        <div class="form-group" *ngIf="!item.isDropdown">
          <label [for]="item.label">{{ item.label }}</label>
          <input
            [type]="item.type"
            [id]="item.id"
            pInputText
            [placeholder]="item.placeholder"
            [formControlName]="item.id"
          />
        </div>
        <div *ngIf="item.isDropdown">
          <label [for]="item.label" style="display: block">{{
            item.label
          }}</label>
          <p-dropdown
            [options]="item.options"
            [formControlName]="item.id"
            [placeholder]="item.placeholder"
            [optionLabel]="item.id"
            [showClear]="true"
            styleClass="dropdown"
          ></p-dropdown>
        </div>
      </div>
      <div class="profile">
        <label for="profile" >Profile</label>
        <p-fileUpload
          #fubauto
          mode="basic"
          name="demo[]"
          url="./upload.php"
          accept="image/*"
          (onUpload)="onBasicUploadAuto($event)"
          [auto]="true"
          chooseLabel="Upload Profile"
        ></p-fileUpload>
      </div>
    </form>
    <p-button
      label="Sign Up"
      icon="pi pi-sign-in"
      [loading]="loading"
      (onClick)="load()"
    ></p-button>
    <p id="sign-up">Already have an account ?<a href="/login"> Sign In </a>.</p>
  </div>
</section>
