.login-section {
  height: 100vh;
  display: flex;
  margin-inline: auto;
  flex-wrap: wrap-reverse;
  text-align: center;
  justify-content: space-evenly;
  align-items: center;
  align-content: center;
}
.login-section h2 {
  color: var(--blue-800);
  margin: 1rem 0rem;
  text-align: center;
  font-size: clamp(1rem,2rem,4rem);
}
.login-form{
  width: clamp(350px, 50%, 900px);
  margin: 1rem auto;
  text-align: left;
}

form{
  width: 100%;
  margin: auto;
  max-width: 300px;
}

.form-group {
  margin: 1rem auto;
}

.form-group > label{
  margin-bottom: 0.25px;
  width: 100%;
}
.form-group > input{
  margin: 0.5rem 0rem 0rem 0rem;
  width: 100%;
}

.helpers {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 1rem 0rem;
  gap: 1rem;
}
.remember {
  display: flex;
  justify-content: center;
}
.background {
  width: 48%;
  height: 95%;
  margin: auto;
  border-radius: 1rem;
  background-color:var(--surface-200);
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 670px){
  .background{
    height: 25%;
  }

  img {
    height: 82px !important;
    width: 82px !important;
  }
}
@media (max-width: 500px){
  .background{
    height: 30%;
  }
}

p{
  margin: 1rem 0rem;
}

label{
  margin:0rem 0.25rem;
}

img{
  width: clamp(60px,180px,540px);
  height: clamp(60px,180px,540px);
  z-index: 1;
  margin-top: 1rem;
}
