<p-toast></p-toast>
<section>
    <div class="card">
        <p-table [value]="studentActivityMarks" styleClass="p-datatable-gridlines  p-datatable-sm" responsiveLayout="scroll" [scrollable]="true" scrollHeight="350px">
            <ng-template pTemplate="header" let-columns>
                <tr>
                    <th pSortableColumn="event">
                        Activity <p-sortIcon field="event"></p-sortIcon>
                    </th>
                    <th pSortableColumn="mark">
                        Mark Obtained <p-sortIcon field="mark"></p-sortIcon>
                    </th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-detail>
                <tr>
                    <td class="event-title">
                        {{ detail.event | titlecase }}
                    </td>
                    <td>{{ detail.mark }}</td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</section>